<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="/images/Logo-Brawl.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <header></header>
    <div class="container-contest">
        <div class="container-box">
            <img src="/images/Logo-Brawl.png" alt="Logo" class="logo"> 
            <div>
                <a href="/#">
                    <button class="btn custom-btn" id="teste">
                        <%= title %>
                    </button>
                </a>
            </div>
        </div>
    </div>
    <footer>
        © 2025 ArhurDev-A. Todos os direitos reservados
    </footer>
</body>
</html>