<%- include('./partials/header') %>
    <main>
      <div class="ui segment">
        <h1><%= title %></h1>
        <p>Bem-vindo ao meu portifólio, aqui você pode verificar projetos meus realionados a difersas áreas, como desenvolvimento web e desenvolvimento Java e para dispositivos apple (SwiftUI).</p>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>